<!--<nav class="nav p-3 justify-content-center bg-danger text-center">
<a [routerLink]="['/']" class="text-white text-center">
  <img class="img-fluid" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"/>
</a>
  </nav>-->
  <div class="col-12 col-md-12 p-3 bg-danger text-center">
    </div>
  <div class="col-12 col-md-12 p-3 text-center">
    <h3>
    <a [routerLink]="['/']" class="text-danger text-center">
  Angular 
  <img class="img-fluid" alt="angular blogs" width="120"
  src="https://angular.io/assets/images/logos/angular/angular.svg"/>
   Blogs
  </a>
  </h3>
  </div>